body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    color: #333;
    margin: 0;
    padding: 15px;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.container {
    text-align: center;
    background: white;
    padding: 20px ;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(172, 164, 164, 0.2);
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

input[type='text'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
}

button {
    padding: 10px 20px;
    background: #0078D7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

button:hover {
    background: #005a9e;
}

#responseData {
    margin-top: 20px;
    font-size: 18px;
}